
includeConfig '/home/ubuntu/tools/extra/tmp-work/github/diffMeth/nextflow/conf/process.conf'

params {
    awsRegion = 'us-east-1'
    cpus = 2
    mem  = 8.GB
//  outdir = "results"
//  tracedir="${params.outdir}/trace"
}

// also set process default directives
process {
    cpus = params.cpus
    memory = params.mem
}

params {
    L11 = "L11 in nextflow.config"
}

// include external configs
includeConfig './params.config'

profiles {
    standard {
        //process.container = 'nextflow/rnaseq-nf'
        docker {
            runOptions='-u $(id -u):$(id -g)'
            enabled=false
            }
        params.outdir="local_out"
        params.tracedir="${params.outdir}/trace"
    }

    batch {
        //process.container = 'nextflow/rnaseq-nf:latest'
        // the container can be hosted at public repos or AWS ECR
        params {
            outdir = 'batch_res'
            tracedir = "${params.outdir}/trace"
            awsQueue = "$batchQueue"
            container = "$batchContainer"
        }
        //process.container = '<docker-image-path, such as nextflow/rnaseq-nf:latest>'
        process.container = params.container
        process.executor = 'awsbatch'
        process.queue = params.awsQueue
        params.tracedir = 'batch_res/trace'
        params.outdir = 'batch_res'
        //workDir = 's3://path/for/work' // required
        aws.region = params.awsRegion
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        aws.batch.maxParallelTransfers = 10
        aws.batch.maxTransferAttempts = 2
    }

    test {
        params {
            maxMemory = 10.GB
            L11 = "L11 in test profile"
            }
    }
    
}


