params {
    awsQueue = 'arn:aws:batch:us-east-1:<account-id>:job-queue/<queue-name>'
    awsRegion = 'us-east-1'
    outdir = "results"
    tracedir="${params.outdir}/trace"
}

// also set process default directives
process {
    cpus = 1
    memory = 8.GB
}

profiles {
    standard {
        //process.container = 'nextflow/rnaseq-nf'
        docker {
            runOptions='-u $(id -u):$(id -g)'
            enabled=false
            }
        params.tracedir="local_out/trace"
    }

    batch {
        //process.container = 'nextflow/rnaseq-nf:latest'
        // the container can be hosted at public repos or AWS ECR
        process.container = '<docker-image-path, such as nextflow/rnaseq-nf:latest>'
        process.executor = 'awsbatch'
        process.queue = params.awsQueue
        params.tracedir = 'batch_res/trace'
        params.outdir = 'batch_res'
        workDir = 's3://path/for/work' // required
        aws.region = params.awsRegion
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        aws.batch.maxParallelTransfers = 10
        aws.batch.maxTransferAttempts = 2
    }
    
}

// include external configs
includeConfig './params.config'

